<nav class="green lighten-1" role="navigation">
    <div class="nav-wrapper container">


        <ul class="right">
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Login</a></li>
        </ul>


    </div>
</nav>


<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center red-text">ExchangeU</h1>
        <div class="row center">
            <h4 class="header col s12 light blue-text">On-demand peer assignment help.</h4>
            <h5 class="header col s12 light blue-text">Get the help you need when you want.</h5>
        </div>
        <div class="row center">
            <a href="#" class="btn-large waves-effect waves-light orange">Join Now</a>
        </div>
        <br><br>

    </div>
</div>


<footer class="page-footer green">
    <div class="container">
        <div class="row">


            <div class="col l3 s12">
                <h5 class="white-text">Contact</h5>
                <ul>
                    <li><a class="white-text" href="#!">info@exchangetheapp.com</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://exchangetheapp.com">Exchange</a>
        </div>
    </div>
</footer>