* {
    box-sizing: border-box;
}

h1 {
    opacity: 1;
}

h3 {
    opacity: 0.7;
}

.landing-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin:0px;
}

.landing-hero {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    flex-direction: row;
    padding: 32px;
    color: white;

    background: #499bea; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #499bea 0%, #207ce5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #499bea 0%, #207ce5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #499bea 0%, #207ce5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea', endColorstr='#207ce5', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.landing-hero-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.blob-section1{
    width:100%;
    height:100%;
    background: url("../assets/blob-shape-landing.svg") no-repeat;
}

.landing-hero-right {

    width: 70%;
    height: 100%;

}

.landing-button {
    color: #fff !important;
    text-transform: uppercase;
    background: #eb144c; /* Old browsers */
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    text-decoration: none;
}

.landing-button:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px 10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.landing-card-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(223, 223, 223, 0.65);
    flex-wrap: wrap;
    padding-bottom: 32px;
    align-items: center;
}

.landing-card {
    /* Add shadows to create the "card" effect */

    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;
    border-radius: 20px;
    padding: 5vh 2vw;
    min-width: 40vw;
    margin-top: 20px;
    background: white;
    width: 80%;
    align-self: center;
}

.landing-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.landing-blue-section {
    background: rgb(35, 125, 235);
    background: -webkit-linear-gradient(
            160deg,
            rgb(10, 60, 180) 0%,
            rgb(35, 125, 235) 100%
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
            160deg,
            rgb(10, 60, 180) 0%,
            rgb(35, 125, 235) 100%
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 100px 16px;
    display: flex;
    flex-direction: column;
    color: white;
}

.landing-testimonials {
    display: flex;
    background: rgba(223, 223, 223, 0.65);
    flex-wrap: wrap;
    width: 100%;
    padding: 24px;
    justify-content: center;
    align-items: center;
}

.landing-testimonials-cards-section {
    margin-top: 16px;
    padding-top: 32px;
    display: flex;

    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;

}

.landing-testimonial-card {
    justify-content: center;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 40%;
    padding: 5vh 2vw;
    text-align: center;
}

.landing-testimonial-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #3d3d3d;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 920px) {

    .landing-hero-left {
        background: none;
    }

    .landing-hero {
        align-items: center;
        justify-content: center;

    }

    .landing-hero-left {
        align-self: center;
    }

    .landing-hero-right {
        display: none;
    }

    .landing-testimonial-card {
        width: 100%;
    }
}
